button {
  background: linear-gradient(90deg, #ff8c00, #ff3c3c);
  color: #fff !important;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  box-shadow: 0 6px 18px rgba(255, 60, 60, 0.45);
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: linear-gradient(90deg, #ff3c3c, #ff8c00);
  transform: scale(1.07);
  box-shadow: 0 8px 25px rgba(255, 60, 60, 0.55);
}
