.main-btn {
  background: linear-gradient(90deg, #ff7a18, #af002d 70%);
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.main-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  cursor: pointer;
}
