<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="https://cdn0.iconfinder.com/data/icons/pretty-shop/512/1-512.png" width="50" height="50" alt="ShopSpot">
      <span class="brand-text">ShopSpot</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/product" routerLinkActive="active-link">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/cart" routerLinkActive="active-link">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/wishlist" routerLinkActive="active-link">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/account" routerLinkActive="active-link">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
