<div class="container product-container">
  <div class="row py-5">
    <div
      class="col-md-12 d-flex justify-content-center gap-3 align-items-center main-border py-3"
    >
      <img
        [src]="product.image"
        [alt]="product.title"
        width="400"
        height="400"
        loading="lazy"
        decoding="async"
      />
      <div
        class="w-100 h-100 d-flex flex-column justify-content-center gap-5 align-items-start"
      >
        <p class="fs-4 fw-medium">{{ product.title }}</p>
        <p class="main-btn">{{ product.category }}</p>
        <div>
          <h5>Description</h5>
          {{ product.description }}
        </div>
        <p
          class="d-flex w-100 justify-content-between align-items-center fw-bold"
        >
          <span>{{ product.price | currency : "EGP" }}</span
          ><span
            >{{ product.rating.rate }} <i class="fa fa-star rating-star"></i
          ></span>
        </p>
        <div class="w-75 mx-auto">
          <app-add-to-cart [product]="product"></app-add-to-cart>
        </div>
      </div>
    </div>
  </div>
</div>
